@(files: Array[java.io.File])

@main("Welcome to Play") {

    <ul> 
@files.map { file =>
  <li><a href="@{
  	var name="/list?name=";

  	if (file.toString.contains(".mp4")) {
  		name = "/download?name=";
  	}

  	name+file.toString.replace("/downloads", "")}">@file</a></li>
} 
</ul>


}
